{% extends "base.html" %}
{% load mptt_tags %}
{% load static %}

{% block title %}Hilary{% endblock %}
{% block css_addition %}<link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock %}
<style>


</style>
{% block content %}
	<nav class="navmenu">
		<ul>
			{% recursetree categories %}
				<li>
					<a href="{{node.get_absolute_url}}">{{node.name}}</a>
					{% if not node.is_leaf_node %}
						<ul class="children megamenu">
							{{ children }}
						</ul>
					{% endif %}
				</li>
			{% endrecursetree %}
		</ul>
	</nav>


        <h2>All Products</h2>
        <div class="columns is-multiline">
            {% for product in all_products %}


            <div class="column is-3">
            <div class="card">
                <div class="card-image">
                    {% if product.image %}
                    <figure class="image">
                        <img src="{{ product.image.url }}"  alt="{{ product.name }}" style="display: block; height: 300px; width: 100%;">
                    </figure>
                     {% endif %}
                </div>

                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
							<h3>{{product.name}}</h3>
                            <p class="subtitle is-6">Category: {{ product.category.name }}</p>
                        </div>
                    </div>
                </div>

                <footer class="card-footer">
                    <a href="#" class="card-footer-item">View</a>
                </footer>
            </div>
        </div>

            {% endfor %}
</div>
{% endblock %}
